@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #4984b8;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.background {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 237, 237);
  max-width: 1600px;
  height: 100%;
}

.container-profile {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
}

.image {
  width: 20vw;
  border-radius: 40%;
}

.session {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  width: 100%;
  align-self: flex-start;
  list-style-position: inside;
  padding: 15px;
}

h2 {
  background-image: linear-gradient(to right, gray, rgb(238, 237, 237));
  padding: 4px;
  border-radius: 10px;
}

h3 {
  text-indent: 1em;
}

.p {
  text-indent: 2em;
  margin: 8px;
  display: block;
}

.indent {
  text-indent: 1em;
}

a {
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
  font-weight: 500;
  display: inline-block;
  padding-left: 3em;
}

.link {
  color: #2563eb;
  border-bottom: 2px solid transparent;
}

.link:hover {
  color: #1d4ed8;
  border-bottom-color: #1d4ed8;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  a {
    margin: 8px;
  }

  .container-profile {
    background-image: linear-gradient(to bottom, #4984b8, rgb(238, 237, 237));
  }

  .image {
    width: 30vw;
    border-radius: 40%;
  }
}
